:root {
  /* ============================================= color ======================================================== */

  /* ----------- base color ---------------------- */

  --color-base-white: #ffffff;
  --color-base-0: #fafafa;
  --color-base-1: #e0e0e0;
  --color-base-2: #d9d9d9;
  --color-base-3: #d6d5d5;
  --color-base-4: #acacac;
  --color-base-5: #878787;
  --color-base-6: #717171;
  --color-base-7: #535355;
  --color-base-8: #434343;
  --color-base-9: #292929;
  --color-base-10: #cfc7c7;
  --color-base-11: #f7f7ff;
  --color-base-black: #000000;

  /* --------- trans(투명) color ------------------------- */

  --color-trans-0: rgba(111, 166, 244, 0.15);
  /* 커뮤니티 */
  --color-trans-1: rgba(250, 115, 115, 0.1);
  /* 모임 */
  --color-trans-2: rgba(250, 204, 87, 0.15);
  /* 스몰톡 */
  --color-trans-3: rgba(214, 213, 213, 0.2);
  /* 공지사항 */
  --color-trans-4: rgba(255, 240, 136, 0.5);
  /* 메인페이지 banner */

  /* --------- main color ------------------------------- */

  --color-main-0: #fa7373;
  --color-main-1: #b56fcf;
  --color-main-2: #6fa6f4;
  --color-main-3: #facc57;
  --color-main-4: #ea83a8;
  /* 관리자 aside */
  --color-main-5: #353535;

  /* -------- accent color -------------------------------- */

  /* warning 메시지, 신고사유 등 */
  --color-accent-0: #fb4646;

  /* ============================================= size ======================================================== */

  /* -------- font size -------------------------------- */

  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 20px;
  --font-size-5: 24px;

  /* -------- icon size -------------------------------- */

  --icon-size-0: 15px;
  --icon-size-1: 20px;
  --icon-size-2: 30px;
}
