@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css';
@import 'https://webfontworld.github.io/cookierun/CookieRun.css';

html,
body {
    height: 100%;
    color: var(--color-font-2);
}

*,
*::placeholder {
    font-family: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue,
        Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, 'Apple Color Emoji', 'Segoe UI Emoji',
        Segoe UI Symbol, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

main {
    flex-grow: 1;
}

button {
    background-color: transparent;
}

*{
    box-sizing: border-box;
}