.btn-icon{
    width: 75px;
    /* 100 패딩 39 */
    height: 50px;
    background-color: var(--color-base-white);
    border-color:var(--color-base-4) ;
    padding: 14px 27px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(0,0,0,0.10);
    
}

.btn-login{
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: rgba(250, 204, 87, 0.45);
  font-size: 18px;
  font-weight: bold;
  color:var(--color-base-white);
  
}

.btn-hover:hover{
  border: 1px solid;
  border-color: var(--color-base-7);
}

.btn-login.active{
  background-color:var( --color-main-3) ;
}


@media (min-width:700px) {
  
  .md\:btn-icon{
    width: 110px;
    /* 100 패딩 39 */
    height: 60px;
    padding: 15px 40px;
  }

  .login-icon li{  
    margin-left: 15px;
     margin-right: 60px;
   }

  
  .md\:btn-login{
    width: 500px;
    height: 50px;
    font-size: 20px;
  }
  
}



