<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/utils.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/components/root/login/login-btn/login-button.css" rel="stylesheet" type="text/css">
    <link href="/css/components/root/login/login.css" rel="stylesheet" type="text/css">
    
    
   </head>
<body>
   <main>
      <section>
         <h1 class="d:none">로그인</h1>
            <div class="login-box">
               <a class="icon-logo md:icon-logo" href="">메인화면돌아가기</a>
               
               <div class="login-icon-box md:login-icon-box">
                  <ul class="login-icon">
                     <li><button class="btn-icon icon icon-kakao icon-color:base-8 icon-size-2 md:btn-icon md:icon-size-4 btn-hover"></button></li>
                     <li><button class="btn-icon icon icon-google icon-color:base-8 icon-size-2 md:btn-icon md:icon-size-4 btn-hover"></button></li>
                     <li><button class="btn-icon icon icon-naver icon-color:base-8 icon-size-2 md:btn-icon md:icon-size-4 btn-hover"></button></li>
                  </ul>    
               </div>

               <div class="login-content-box">
                  <span class="login-content md:login-content">DOBY! 아이디로 로그인</span>
                  
                  <div class="content-box md:content-box">
                     <span class="content md:content">이메일</span>
                        <form action="">
                        <input class="email md:email"type="text" placeholder="이메일을 입력해주세요"></form>

                     <span class="content md:content ">비밀번호</span>
                        <form action="">
                        <input class="password md:password"type="text" placeholder="비밀번호를 입력해주세요"></form>
                  </div>

                  <div>
                     <button class="btn-login md:btn-login">로그인</button>
                  </div>

                  <span class="join-content md:join-content">아직 회원이 아니신가요?</span>

                  <div class="join-account md:join-account">
                     <a class="join-link" href="">회원가입</a>
                        <div>또는</div>
                     <a class="find-account" href="">계정찾기</a>
                  </div>
               </div>
            </div>
   </section>
   </main>
</body>
</html>