.blind-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 35px;
    border: none;
    background-color:var(--color-trans-3);
    border-radius: 10px;
    font-size: 14px;
    color: var(--color-base-7);
    font-weight: 500;
}