<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/utils.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link
      href="/css/components/admin/check-box/check-box.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <section class="check-box">
      <h1 class="d:none">체크모달박스</h1>
      <div class="close-box md:d:none">
        <button class="h:cursor check-icon icon-x check-icon-size-1">
          모달끄기
        </button>
      </div>
      <div class="paging-box">
        <span class="select-number">1</span>
        <span>/</span>
        <span>5</span>
      </div>

      <div class="select-box">
        <div class="check-complete-box">
          <button class="check-icon icon-check_complete">전체선택</button>
          <span>전체선택</span>
        </div>

        <div class="top-right-box">
          <button class="check-icon icon-top_right">이동하기</button>
          <span>이동하기</span>
        </div>

        <div class="pin-box">
          <button class="check-icon icon-pin_empty">고정하기</button>
          <span>고정하기</span>
        </div>

        <div class="trush-box">
          <button class="check-icon icon-trush">삭제하기</button>
          <span>삭제하기</span>
        </div>
      </div>
    </section>
  </body>
</html>
