.forgot-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

/* .logo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin:50px 100px 20px 100px ;
} */

.find-account-content {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  color: var(--color-base-7);
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100%;
}

/* ------------- 계정찾기 content-------- */
.find-account-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: var(--font-m-size-2);
  /* 폰트 사이즈 16px */
  margin-top: 30px;
}
.find-account-box span {
  width: 100%;
  text-align: center;
  line-height: 2;
  /* 줄간격 조정 */
}

/* -------- 이메일 주소 ----------- */
/* .forgot-cancel-box {
  display: flex;
  flex-direction: column;
  /* align-items:flex-start; 
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
} */
.email-box {
  width: 80%;
  display: flex;
  /* flex-direction: column; */
  padding: 0;
  margin-bottom: 10px;
  justify-content: center;
}

.email-fieldset {
  /* display:flex;
    flex-direction: column;
    align-items: center; */
  width: 90%;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: var(--font-m-size-1);
  font-weight: bold;
  margin: 15px 0px 15px 15px;
}
/* .email-box label {
  display: flex;
  justify-content: flex-start;
   text-align: center; 
  font-size: var(--font-m-size-2);
  font-weight: bold;
  margin: 15px 0px 15px 15px;
} */
.email {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: var(--color-base-0);
  text-indent: 15px;
  font-size: var(--font-m-size-1);
  margin: 0;
}

.email-check {
  display: flex;
  /* justify-content:l; */
  align-items: center;
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: 15px;
  font-size: var(--font-m-size-0);
  color: var(--color-accent-0);
}

.deco::before {
  content: "";
  display: inline-flex;
  width: var(--icon-size-1);
  height: var(--icon-size-1);
  /* background-image: url(/image/icon/settings.svg);  
    background-size:inherit; 배경 사이즈 */
  /* vertical-align:auto;  이거 뭐지???? */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: inherit;
  mask-size: inherit;
  background-color: var(--color-accent-0);
  margin-right: 5px;
}

.btn-forgot-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-email {
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: rgba(250, 204, 87, 0.45);
  font-size: 18px;
  font-weight: 600;
  color: var(--color-base-white);
  margin-right: 20px;
}
.btn-email.active {
  background-color: var(--color-main-3);
}

.btn-cancel {
  display: flex;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid;
  background-color: var(--color-base-white);
  font-size: 18px;
  font-weight: bold;
  color: var(--color-base-5);
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .md\:find-account-content {
  }

  .md\:find-account-box span {
    width: 500px;
  }
  .md\:find-account-box {
    font-size: var(--font-d-size-1);
  }

  .email-fieldset {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
  }
  .md\:content {
    font-size: 18px;
    margin: 15px 0px 20px 15px;
  }
  .md\:email {
    width: 500px;
    height: 50px;
    text-indent: 25px;
    font-size: 18px;
    margin: 0;
  }
  .md\:email-check {
    display: flex;
    margin-bottom: 50px;
    font-size: var(--font-d-size-0);
    color: var(--color-accent-0);
  }

  .btn-forgot-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
  }
  .md\:btn-email {
    width: 200px;
    height: 50px;
    font-size: var(--font-d-size-2);
    margin-right: 30px;
  }
  .md\:btn-cancel {
    width: 200px;
    height: 50px;
    font-size: var(--font-d-size-2);
  }
}
