body{
    justify-content: center;
}
.d\:none{
    display: none;
}
/* ====== banner =========== */
.banner-box{
    width: 100%;
    height: 220px;
    background-color: var(--color-trans-3);
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px;
}
.profile-box{
    display: flex;
   align-items: center;
   gap:20px;
   margin-bottom: 20px;
}
.profile{
   display: flex;
   justify-content: center;
   align-items: center;
    border: none;
    width: 80px;
    height: 80px;
    
    border-radius: 50px;
}
.user-name{
    font-size: 25px;
    font-weight: bold;
}
.blind{
    font-size: 33px;
    font-weight: bold;
}

/* ====== */
.board{
    display: flex;
    flex-direction: row;
    gap:20px;
    font-size:20px;
    padding: 35px;
}
.board-comunity:hover{
        font-weight: bold;
        border-color: var(--color-base-7);
    }
    .board-with:hover{
        font-weight: bold;
        border-color: var(--color-base-7);
    }
    .board-small:hover{
        font-weight: bold;
        border-color: var(--color-base-7);
    }

/* ====== 글목록 ======= */
.board-box{
 padding: 0px 20px;
}
.board-box::after{
    content: "";
    /* flex-grow: 0; */
    /* flex-basis: 60px; */
    display: inline-block;
    background-color: var(--color-base-2);
    font-size: 0px;
    height: 0.5px;
    width: 100%;
    line-height: 0px;
    /* margin: 0px 20px;
    padding: 0px 20px; */

}
.board-cancel-box{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 20px;    
}
.board-user-time{
    display: flex;
    flex-direction: row;
    
}
.board-user-box{
    display: flex;
    flex-direction: row;
    gap: 3px;
}
.profile-board{
    display: flex;
   justify-content: center;
   align-items: center;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}
.border-name{
    font-size: 12px;
}

.board-time{
    font-size: 12px;
}

.board-time::before{
    content: "·";
    margin: 5px;

}
.board-content{
    font-size: 18px;
    font-weight: bold;
    color: var(--color-base-7);
    margin: 10px;
    padding-left: 10px;
}

.view-good-chat{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:10px;
    padding-right: 20px;
}
.deco::before{
    content:'';
    display:inline-flex; 
    width:var(--icon-size-1);
    height: var(--icon-size-1);
    /* background-image: url(/image/icon/settings.svg);  
    background-size:inherit; 배경 사이즈 */
    /* vertical-align:auto;  이거 뭐지???? */ 
    -webkit-mask-repeat:no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size:inherit;
    mask-size:inherit;
    background-color: var(--color-base-7);
    margin-right: 5px;
   
}

