<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/utils.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link
      href="/css/components/root/blind/blind-btn/blind-btn.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/css/components/root/blind/blind.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <main>
      <section>
        <h1 class="d:none">블라인드 글 목록</h1>
        <div class="banner-box">
          <div class="profile-box">
            <img class="profile" src="/image/zzanggu.jpg" />
            <span class="user-name">구구</span>
          </div>
          <span class="blind">블라인드 글 목록</span>
        </div>

        <div>
          <ul class="board">
            <li class="board-comunity">커뮤니티</li>
            <li class="board-with">위드미</li>
            <li class="board-small">스몰톡</li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="board-box">
              <div class="board-cancel-box">
                <div class="board-user-time">
                  <div class="board-user-box">
                    <img
                      class="profile-board"
                      src="/image/zzanggu.jpg"
                      alt=""
                    />
                    <span class="border-name">구구</span>
                  </div>
                  <!-- a 태그로 해야하나 -->
                  <span class="board-time">5분전</span>
                </div>
                <a class="blind-btn" href="">취소요청</a>
              </div>
              <p class="board-content">최종합격~!~~dfhsjkdhfjsdfhsjdk</p>
              <div class="view-good-chat">
                <span class="deco icon-views">050</span>
                <span class="deco icon-good">5</span>
                <span class="deco icon-chat">10</span>
              </div>
            </li>
            <li class="board-box">
              <div class="board-cancel-box">
                <div class="board-user-time">
                  <div class="board-user-box">
                    <img
                      class="profile-board"
                      src="/image/zzanggu.jpg"
                      alt=""
                    />
                    <span class="border-name">구rnrnrnnrn구</span>
                  </div>
                  <!-- a 태그로 해야하나 -->
                  <span class="board-time">14분전</span>
                </div>
                <a class="blind-btn" href="">취소요청</a>
              </div>
              <p class="board-content">최종합격~!jkdhfjddhfjsdfhsjdk</p>
              <div class="view-good-chat">
                <span class="deco icon-views">050</span>
                <span class="deco icon-good">5</span>
                <span class="deco icon-chat">10</span>
              </div>
            </li>
            <li class="board-box">
              <div class="board-cancel-box">
                <div class="board-user-time">
                  <div class="board-user-box">
                    <img
                      class="profile-board"
                      src="/image/zzanggu.jpg"
                      alt=""
                    />
                    <span class="border-name">구rnrnrnnrn구</span>
                  </div>
                  <!-- a 태그로 해야하나 -->
                  <span class="board-time">14분전</span>
                </div>
                <a class="blind-btn" href="">취소요청</a>
              </div>
              <p class="board-content">최종합격~!jkdhfjddhfjsdfhsjdk</p>
              <div class="view-good-chat">
                <span class="deco icon-views">050</span>
                <span class="deco icon-good">5</span>
                <span class="deco icon-chat">10</span>
              </div>
            </li>
            <li class="board-box">
              <div class="board-cancel-box">
                <div class="board-user-time">
                  <div class="board-user-box">
                    <img
                      class="profile-board"
                      src="/image/zzanggu.jpg"
                      alt=""
                    />
                    <span class="border-name">구rnrnrnnrn구</span>
                  </div>
                  <!-- a 태그로 해야하나 -->
                  <span class="board-time">14분전</span>
                </div>
                <a class="blind-btn" href="">취소요청</a>
              </div>
              <p class="board-content">최종합격~!jkdhfjddhfjsdfhsjdk</p>
              <div class="view-good-chat">
                <span class="deco icon-views">050</span>
                <span class="deco icon-good">5</span>
                <span class="deco icon-chat">10</span>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
